* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
button,
input,
p {
  font-family: "Arsenal", sans-serif;
  font-style: normal;
}
.carousel-control-prev-icon {
  position: absolute;
  right: -450%;
  bottom: 5%;
}
.carousel-control-next-icon {
  position: absolute;
  bottom: 5%;
  left: 0;
}
.carousel-indicators {
  width: 50px;
  height: 95%;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column;
  gap: 20px;
  z-index: 1;
  left: 80% !important;
}
ul {
  margin: 0 !important;
}
::selection {
  background-color: #8bb654;
}
/* Here for media Query  */

@media (max-width: 768px) {
  .carousel-indicators {
    left: 77% !important;
  }
}
@media (max-width: 425px) {
  .carousel-indicators {
    left: 70% !important;
  }
}
@media (max-width: 320px) {
  .carousel-indicators {
    left: 68% !important;
  }
}
